<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{>style.hbs}}
</head>

<body>
{{>Header.hbs}}
{{>Sidebar.hbs}}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">

    </div>
    <title>Welcome, {{name}}!</title>
    <!-- Include your CSS files -->
    {{> Style.hbs}}
    <style>

        .card {
            position: relative; /* Added to position the design element */
            width: 600px;
            height: 400px;
            background-color: #ed1c24;
            border-radius: 20px;
            padding: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            text-align: center;
            margin-left: 50px;
            background-image: url('/assets/background5.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
            background-size: cover; /* Ensure the background image covers the entire card */
            background-position: center; /* Center the background image */
            background-repeat: no-repeat; /* Prevent the background image from repeating */
            opacity: 0.8; /* Adjust the opacity as needed */
        }

        .card h2 {
            margin-bottom: 20px;
            font-size: 28px;
            color: #ffffff;
            text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        }

        .details p {
            margin: 10px 0;
            font-size: 22px; /* Increased font size */
            color: #ffffff;
            text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }


        .details p i {
            margin-right: 5px;
        }

        .card-design {
            position: absolute; /* Positioned the design element */
            top: 20px; /* Adjusted top position */
            right: 20px; /* Adjusted right position */
        }

        .scotbank-text {
            font-size: 20px;
            color: #ffffff;
            text-transform: uppercase; /* Converted text to uppercase */
            letter-spacing: 2px; /* Added letter spacing */
            font-weight: bold; /* Added bold font weight */
        }




        .buttons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }


        .transfer-button {
            background-color: #ffffff;
            color: #ed1c24;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            border: 2px solid black;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }

        .transfer-button:hover {
            background-color: #f2f2f2;
        }


        .round-button {
            background-color: red;
            color: white;
            padding: 10px 20px;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: -30px
        }
        .round-button:hover {
            background-color: #ff6666;
        }




        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            align-items: center;
            justify-content: center;
        }


        .popup-content {
            background-color: #ffffff; /* White popup background */
            padding: 30px;
            border-radius: 10px;
            width: 400px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close-button:hover,
        .close-button:focus {
            color: #000000; /* Black hover color */
            text-decoration: none;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-size: 18px;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: #333333; /* Dark gray label color */
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #cccccc; /* Light gray border */
            border-radius: 5px;
            color: #333333;
        }

        .form-group input:focus {
            outline: none;
            border-color: #ed1c24; /* Scotbank red border color */
        }

        .submit-button {
            background-color: #ed1c24; /* Scotbank red */
            color: #ffffff;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #ff6666;
        }
    </style>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
         id="myOverlay"></div>

    <!-- Main Content -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px;margin-bottom: 40px; margin-top: 0;">
        <div class="card">
            <h2>Welcome, {{name}}!</h2>
            <div class="details">
                <p><i class="fas fa-dollar-sign"></i> Balance: ${{balance}}</p>
                <p><i class="fas fa-id-card"></i> Account Number: {{accountNum}}</p>
                <p><i class="fas fa-id-badge"></i> ID: {{id}}</p>
                <p><i class="fas fa-dollar-sign"></i> Roundup Pot: ${{roundupBalance}}</p>

                <p> Roundup enabled: <span id="roundupStatus">{{roundupEnabled}}</span></p>
            </div>
            <div class="card-design">
                <span class="scotbank-text">Scotbank</span>
            </div>
        </div>
        <div class="buttons-container">
            <!-- Transfer Money Button -->
            <button class="transfer-button" onclick="openPopup()">Transfer Money</button>

            <!-- Enable Roundups Button -->
            <button onclick="toggleRoundup()" class="round-button">
                {{#roundupEnabled}}Disable Roundups{{/roundupEnabled}}{{^roundupEnabled}}Enable Roundups{{/roundupEnabled}}
            </button>
        </div>
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close-button" onclick="closePopup()">&times;</span>
                <h2>Transfer Money</h2>
                <form action="/transfer" method="post">
                    <div class="form-group">
                        <label for="receiverName">Receiver Name:</label>
                        <input type="text" id="receiverName" name="receiverName" required>
                    </div>
                    <div class="form-group">
                        <label for="accountNumber">Account Number:</label>
                        <input type="text" id="accountNumber" name="accountNumber" required>
                    </div>
                    <div class="form-group">
                        <label for="sortCode">Sort Code:</label>
                        <input type="text" id="sortCode" name="sortCode" required>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="text" id="amount" name="amount" required>
                    </div>
                    <div class="form-group">
                        <label for="reference">Reference:</label>
                        <input type="text" id="reference" name="reference">
                    </div>
                    <input type="submit" class="submit-button" value="Transfer">
                </form>
            </div>
        </div>
    </div>



    </div>


</div>

<script>
    function toggleRoundup() {
        var roundupStatus = document.getElementById("roundupStatus");
        var isRoundupEnabled = roundupStatus.innerHTML.trim() === "true";

        // Toggle the boolean value
        isRoundupEnabled = !isRoundupEnabled;

        // Update the UI
        roundupStatus.innerHTML = isRoundupEnabled;

        // Update the button text
        var button = document.querySelector(".round-button");
        if (isRoundupEnabled) {
            button.textContent = "Disable Roundups";
        } else {
            button.textContent = "Enable Roundups";
        }
    }

    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
    function openPopup() {
        document.getElementById("popup").style.display = "block";
    }

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }
</script>
</body>

</html>
