<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Transactions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{> style.hbs}}
    {{> Header.hbs}}
    {{> Sidebar.hbs }}
</head>
<body>
<div class="w3-main" style="margin-left:340px;margin-right:40px">
    {{> Style.hbs}}
    <style>

        .card {
            width: 600px;
            height: 400px;
            background-color: #ed1c24;
            border-radius: 20px;
            padding: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            text-align: center;
            margin-left: 50px;
        }

        .card h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #ffffff;
            text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
        }

        .details p {
            margin: 10px 0;
            font-size: 18px;
            color: #ffffff;
        }

        .details p i {
            margin-right: 5px;
        }

        /* CSS for buttons */



        .buttons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }


        .transfer-button {
            background-color: #ffffff;
            color: #ed1c24;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            border: 2px solid black;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }

        .transfer-button:hover {
            background-color: #f2f2f2;
        }


        .round-button {
            background-color: red;
            color: white;
            padding: 10px 20px;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: -30px
        }
        .round-button:hover {
            background-color: #ff6666;
        }




        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            align-items: center;
            justify-content: center;
        }


        .popup-content {
            background-color: #ffffff; /* White popup background */
            padding: 30px;
            border-radius: 10px;
            width: 400px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .close-button:hover,
        .close-button:focus {
            color: #000000; /* Black hover color */
            text-decoration: none;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-size: 18px;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: #333333; /* Dark gray label color */
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #cccccc; /* Light gray border */
            border-radius: 5px;
            color: #333333;
        }

        .form-group input:focus {
            outline: none;
            border-color: #ed1c24; /* Scotbank red border color */
        }

        .submit-button {
            background-color: #ed1c24; /* Scotbank red */
            color: #ffffff;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #ff6666;
        }
    </style>
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Your Transactions</b></h1>
        <hr style="width:500px;border:5px solid red" class="w3-round">
    </div>

    <!-- Display Individual Transaction Details -->
    <div>
        <h2>Transactions:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Type Of Transaction</th>
                    <th scope="col">Amount</th>
                    <th scope="col">View More</th>
                </tr>
            </thead>
            <tbody>
                {{#each transactions}}
                    <tr>
                        <td> {{this.from}}</td>
                        <td>{{this.to}}</td>
                        <td>{{this.type}} </td>
                        <td>{{this.amount}}</td>
                        <td><button class="transfer-button" onClick="openPopup('{{this.timestamp}}','{{this.from}}', '{{this.to}}', '{{this.type}}', '{{this.amount}}')">View</button></td>

                    </tr>



                {{/each}}
            </tbody>
        </table>
        <!-- Main Content -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close-button" onclick="closePopup()">&times;</span>
                <h4>Transaction Details</h4>
                <p id="Date"></p>
                <p id="From"></p>
                <p id="To"></p>
                <p id="Type"></p>
                <p id="Amount"></p>
            </div>
        </div>




    </div>



    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
        function openPopup(date, from, to, type, amount) {
            document.getElementById("Date").textContent = "Date: " + date;
            document.getElementById("From").textContent = "From: " + from;
            document.getElementById("To").textContent = "To: " + to;
            document.getElementById("Type").textContent = "Type: " + type;
            document.getElementById("Amount").textContent = "Amount: " + amount;

            document.getElementById("popup").style.display = "block"; // Display the popup
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }
    </script>
</div>
</body>
</html>
