<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">


    </script>
</head>


{{>style.hbs}}
{{>Header.hbs}}
{{> Sidebar.hbs }}

<body>
<style>
    #map { height: 500px; }
</style>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">


    </div>
    <div>
        <h1 class="w3-jumbo">
            <b>10 Big Spenders</b></h1>
        <hr style="width:500px;border:5px solid red" class="w3-round">

        {{#bigSpenders}}
            <tr>
                <p>Name: {{Name}}</p>
                <p>Account Number: {{accountNum}}</p>
                <p>ID: {{id}}</p>
                <p>Balance: {{Balance}}</p>
                <p>Roundup Enabled: {{roundupEnabled}}</p>
                <p>postcode: {{postcode}}</p>
                <p><b>total spent: {{totalPayments}}</b></p><br>

            </tr>
        {{/bigSpenders}}


        <div id="map" style="height:500px"></div>


    </div>


    <div>
        <h1 class="w3-jumbo">
            <b>All Accounts</b></h1>
        <hr style="width:500px;border:5px solid red" class="w3-round">

        {{#accounts}}
            <tr>
                <p>Name: {{Name}}</p>
                <p>Account Number: {{accountNum}}</p>
                <p>ID: {{id}}</p>
                <p>Balance: {{Balance}}</p>
                <p>Roundup Enabled: {{roundupEnabled}}</p>
                <p>postcode: {{postcode}}</p><br>


            </tr>
        {{/accounts}}


    </div>




    <script>

        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

    </script>
</div>
</body>
</html>
